<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-26">
                    欢迎使用立档管理系统
                </span>

                <div class="wrap-input100 validate-input">
                    <input nz-input [(ngModel)]="userName"/>
                </div>

                <div class="wrap-input100 validate-input">
                    <input nz-input [(ngModel)]="password"/>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <button nz-button nzType="primary">Login</button>
                    </div>
                </div>

                <div class="text-center p-t-115">
                    <span class="txt1">
                        Don’t have an account?
                    </span>

                    <a class="txt2" href="#">
                        Sign Up
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>