<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <span class="login100-form-title p-b-26">
                立档科技管理系统
            </span>

            <div class="wrap-input100 validate-input">
                <nz-input-group [nzPrefix]="prefixTemplateUser">
                    <input type="text" nz-input placeholder="用户名" [(ngModel)]="userName"/>
                </nz-input-group>
                <ng-template #prefixTemplateUser><span nz-icon nzType="user"></span></ng-template>
            </div>

            <div class="wrap-input100 validate-input">
                <nz-input-group [nzSuffix]="suffixTemplate">
                    <input [type]="passwordVisible ? 'text' : 'password'" nz-input placeholder="密码"
                        [(ngModel)]="password" />
                </nz-input-group>
                <ng-template #suffixTemplate>
                    <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                        (click)="passwordVisible = !passwordVisible"></span>
                </ng-template>
            </div>

            <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                    <button nz-button nzBlock nzType="primary" (click)="login()">登陆</button>
                </div>
            </div>
        </div>
    </div>
</div>